apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "eric-oss-hello-world-python-app.name" . }}-network-policy-api-gw
  labels:
    {{- include "eric-oss-hello-world-python-app.labels" . | indent 4 }}
    {{- if .Values.labels }}
      {{ .Values.labels | toYaml | indent 4 }}
    {{- end }}
  annotations:
  {{- include "eric-oss-hello-world-python-app.product-info" . | indent 4 }}
spec:
  podSelector:
    matchLabels:
      app: eric-oss-hello-world-python-app
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: eric-eo-api-gateway
    - podSelector:
        matchLabels:
          app: eric-sef-exposure-api-gateway
    - podSelector:
        matchLabels:
          app: eric-pm-server
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name:  {{ .Values.eic.namespace }}
    ports:
    - protocol: TCP
      port: {{ index .Values.service "http-port" }}
    - protocol: TCP
      port: {{ index .Values.service "https-port" }}
